.slider-group {
    width: 766px;
    /* border: 1px solid; */
    margin-bottom: 10px;
}
.slider-group-title {
    height: 32px;
    line-height: 32px;
    /* border: 1px solid; */
}
.slider-group-content {
    margin-top: 5px;
    margin-left: 30px;
}

.slider-group .ant-row .ant-col-2 {
    line-height: 32px;
}