.data-grid .cell .value-viewer {
    width: 100px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
#container .data-grid-container .data-grid .cell > input {
    height: 28px;
    border: 0;
}

.data-grid-container .data-grid .cell.selected {
    width: 100px;
}

.data-grid-container .data-grid .cell {
    position: relative;
    height: 32px;
    width: 100px;
    line-height: 28px;
    text-align: center;
}

.add-row {
    background: greenyellow;
}
.add-col {
    position: absolute;
    top: -8px;
    right: 0px;
    background: gold;
}
.content {
    width: 100px;
    margin: 0 5px;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
}
