.data-grid .cell .value-viewer {
    width: 100px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
#container .data-grid-container .data-grid .cell > input {
    height: 30px;
}

.data-grid-container .data-grid .cell.selected {
    width: 100px;
}

